<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.com/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container">
    <div class="container">
        <h1 class="text-center">Formulario Usuario</h1>
    </div>
    <div class="containter ">

        <form th:action="@{/usuarios/crear}" th:object="${usuario}" method="post">

            <div class="form-group row my-3">
                <label class="col-form-label col-sm-2">Usuario</label>
                <div class="col-sm-6">
                    <input sec:authorize="hasRole('ADMIN')" class="form-control" type="text" th:field="*{username}" th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                </div>
            </div>

            <div class="form-group row my-3">
                <label class="col-form-label col-sm-2">Roles</label>
                <div class="col-sm-6">
                    <select multiple th:field="*{roles}" th:errorclass="'form-control alert-danger'">
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.nombre}" ></option>
                    </select>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></small>
                </div>
            </div>

            <div class="form-group row my-3">
                <label class="col-form-label col-sm-2">Constraseña</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" id="password" name="password"  th:value="*{password}" th:errorclass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                </div>
            </div>

            <div class="form-group row my-3">
                <label class="col-form-label col-sm-2">Activo</label>
                <div class="col-sm-6 col-form-label">
                    <input class="form-check-input" type="checkbox" th:field="*{enabled}">
                </div>
            </div>

            <div class="form-group my-3"><input class="btn btn-primary" type="submit" value="Crear"></div>

            <input type="hidden" th:field="*{id}">
        </form>

    </div>
</div>
<div th:replace="layout/layout :: scripts"></div>
</body>
</html>