<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.com/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container">
    <div class="container">
        <h1 class="text-center">Formulario Usuario</h1>
    </div>
    <div class="container">
        <div class="container">
            <div id="orders-div" class="card p-3 my-3">
                <h3 class="card-title text-center">Editar usuario</h3>
                <div class="d-flex justify-content-center">
                    <div class="col-sm-4">
                        <img class="img-thumbnail" th:src="@{'/usuarios/imagenes/'+ ${usuario.imagen}}">
                    </div>
                    <div class="col-sm-8">
                        <form th:action="@{/usuarios/editar}" th:object="${usuario}" method="post" enctype="multipart/form-data">

                            <div class="form-group row my-3">
                                <label class="col-form-label col-sm-4">Usuario</label>
                                <div class="col-sm-8">
                                    <input sec:authorize="hasRole('ADMIN')" class="form-control" type="text" th:field="*{username}" th:errorclass="'form-control alert-danger'">
                                    <input sec:authorize="hasRole('USER')" class="form-control" type="text" th:field="*{username}" th:errorclass="'form-control alert-danger'">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                                </div>
                            </div>

                            <div sec:authorize="hasRole('ADMIN')" class="form-group row my-3">
                                <label class="col-form-label col-sm-4">Roles</label>
                                <div class="col-sm-8">
                                    <select multiple th:field="*{roles}" th:errorclass="'form-control alert-danger'">
                                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.nombre}"></option>
                                    </select>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></small>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label class="col-form-label col-sm-4">Constraseña</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="password" id="password" name="password"  th:value="*{password}" th:errorclass="'form-control alert-danger'">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                                </div>
                            </div>

                            <div sec:authorize="hasRole('ADMIN')" class="form-group row my-3">
                                <label class="col-form-label col-sm-4">Activo</label>
                                <div class="col-sm-8 col-form-label">
                                    <input type="checkbox" th:field="*{enabled}">
                                </div>
                            </div>

                            <div sec:authorize="hasRole('ROLE_USER')" class="form-group row my-3">
                                <input type="hidden" th:field="*{roles}">
                                <input type="hidden" th:field="*{enabled}">
                            </div>

                            <div class="input-group my-3">
                                <label class="col-form-label col-sm-4" style="padding-left: 0">Imagen</label>
                                <div class="col-sm-8 custom-file">
                                    <input type="file" class="custom-file-input" id="file">
                                    <label class="custom-file-label" for="file">Selecciona Imagen</label>
                                </div>
                            </div>
                            <div class="form-group my-3"><input th:value="Editar" class="btn btn-primary" type="submit"></div>
                            <input type="hidden" th:field="*{id}">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="layout/layout :: scripts"></div>
</body>
</html>