<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container">
    <div id="orders-div" class="card p-3 my-3">
        <h3 class="card-title text-center">Lista de Usuarios</h3>
        <a th:href="@{/usuarios/crear}">Crear Usuario</a>
        <table id="orders-table" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
            <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Enabled</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario: ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.username}"></td>
                <td th:text="${usuario.enabled}"></td>
                <td><a th:href="@{editar/} + ${usuario.username}">Editar</a></td>
                <td><a th:href="@{eliminar/} + ${usuario.id}" onclick=" return confirm('Estás seguro?');">Eliminar</a></td>
            </tr>
            </tbody>
        </table>
        <div th:replace="paginator/nav-paginator :: paginator"></div>
    </div>
</div>
<div th:replace="layout/layout :: scripts"></div>
</body>
</html>