body {
    font-family: 'Rubik', sans-serif !important;
    padding-top: 3.5rem;
}

nav {
    background-color: #b0b0b0 !important;
}

nav a {
    color: #ffffff;
}

nav a:hover {
    color: #000000;
}