<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<!--<div class="container-fluid">-->
<div class="container">
        <div id="orders-div" class="card p-3 my-3">
            <h3 class="card-title text-center">Lista de clientes</h3>
            <a th:href="@{/form}">Crear Cliente</a>
            <table id="orders-table" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha creacion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createAt}"></td>
                </tr>
                </tbody>
            </table>
            <div th:replace="paginator/nav-paginator :: paginator"></div>
    </div>
</div>

<div th:replace="layout/layout :: scripts"></div>
</body>
</html>